In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot
%matplotlib inline

In [4]:
#importing the csv files

students_df = pd.read_csv("./backend-assessment/backend-assessment/students.csv")
courses_df  = pd.read_csv("./backend-assessment/backend-assessment/courses.csv")
marks_df = pd.read_csv("./backend-assessment/backend-assessment/marks.csv")
tests_df = pd.read_csv("./backend-assessment/backend-assessment/tests.csv")

In [5]:
students_df.head()

   id name
0   1    A
1   2    B
2   3    C

In [7]:
courses_df.head()

   id     name  teacher
0   1  Biology    Mr. D
1   2  History   Mrs. P
2   3     Math   Mrs. C

In [43]:
marks_df

    test_id  student_id  mark
0         1           1    78
1         2           1    87
2         3           1    95
3         4           1    32
4         5           1    65
5         6           1    78
6         7           1    40
7         1           2    78
8         2           2    87
9         3           2    15
10        6           2    78
11        7           2    40
12        1           3    78
13        2           3    87
14        3           3    95
15        4           3    32
16        5           3    65
17        6           3    78
18        7           3    40

In [50]:
msample = marks_df.groupby('student_id')

In [18]:
tests_df

   id  course_id  weight
0   1          1      10
1   2          1      40
2   3          1      50
3   4          2      40
4   5          2      60
5   6          3      90
6   7          3      10

In [11]:
student_map = students_df.set_index('id').T.to_dict('list')
student_map

{1: ['A'], 2: ['B'], 3: ['C']}

In [12]:
courses_map = courses_df.set_index('id').T.to_dict('list')
courses_map

{1: ['Biology', 'Mr. D'], 2: ['History', ' Mrs. P'], 3: ['Math', ' Mrs. C']}

In [25]:

tests_map = tests_df.set_index('id').T.to_dict('list')
tests_map

{1: [1, 10],
 2: [1, 40],
 3: [1, 50],
 4: [2, 40],
 5: [2, 60],
 6: [3, 90],
 7: [3, 10]}

In [54]:
from collections import defaultdict

#marks nested hashmap 
temp = [-1]*len(tests_df)
marks_map = {}
for index, row in students_df.iterrows():
    
    marks_map[row["id"]] = temp
marks_map

{1: [-1, -1, -1, -1, -1, -1, -1],
 2: [-1, -1, -1, -1, -1, -1, -1],
 3: [-1, -1, -1, -1, -1, -1, -1]}

In [68]:
li = [-1]*len(tests_df)
# for k,v marks_map.items():
#     li = marks_map[k]
cache = msample.get_group(1)
for b in cache.iteritems():
    li.insert(b["test_id"]-1,b["mark"])
li

TypeError: tuple indices must be integers or slices, not str

In [44]:
len(tests_df)

7

In [ ]:
#oops design to generate report card